# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# IDEs and editors
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter notebooks
.ipynb_checkpoints

# Environment variables
.env
.env.*

# OS-specific
.DS_Store
Thumbs.db

# Flask / Django specific
instance/
*.db
*.sqlite3

*.log

test/*.out
test/*.o